@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.min.css';

@layer base {
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .col {
    flex: 1;
  }
}


body {
  @apply h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

:root {
  background: rgb(246, 244, 248);
}


.btn:hover {
  opacity: 0.7;
}
input{
  color:black;
}


.btnLink {
  color: black;
}
.btnDeals {
  color: rgb(68, 8, 145);
  font-size: "20px";
}


.btn {
  outline: none;
}


.bookflight{
  border-top-left-radius: 10px;
  height: 50px;
  width: 120px;
  border-bottom-right-radius: 10px;
  background: rgb(68,8,145);
  border: none;
  color: white;
  font-size: 15px;
}
.checkthedetail{
  border-radius: "0 0 10px 10px";
  height: 40px;
  width: 180px;
  border: none;
  outline: none;
  color: rgb(68,8,145);
  background: rgb(229,224,234);
  text-decoration: underline;
  font-size:14px;
}

.image-container {
  position: relative;
  width: 300px;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-align: left;
  z-index: 10;
}

.overlay i {
  font-size: 30px;
  margin-bottom: 5px;
}

.overlay p {
  font-size: 18px;
  font-weight: bold;
}














